@model HAKCMS.Model.TBL_Icerik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TBL_Icerik</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baslikTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslikTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baslikEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslikEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anahtarTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anahtarTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anahtarEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anahtarEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklamaTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklamaTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklamaEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklamaEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icerikTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerikTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icerikEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerikEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.galeriID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.galeriID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dokumanID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dokumanID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.videoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.videoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sayfaURLTR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sayfaURLTR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sayfaURLEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sayfaURLEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.showm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.showm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.showt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.showt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.showb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.showb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
